@import 'colors'

main
  display: flex
  flex-direction: column
  flex-wrap: wrap
  justify-content: center
  align-items: center
  align-content: center
  height: 100vh

  .title
    color: $color-primary-0
    font-size: 6em

  span
    color: $color-primary-1

.btn
  box-shadow: 0px 0px 3px 0px black
  font-weight: bold
  font-size: 1.5em
  display: inline-block
  background: $color-primary-3
  color: white
  border: none
  margin: 1em
  padding: .5em
