//- out: .
doctype html
html(lang="en")
  head
    title Whiteboards.io
    link(rel='stylesheet', href="/css/site.min.css")
    
  body  
    main
      h1.title Whiteboards.
        span io
      .buttons
        button.btn Projects
        button.btn About us
    
