//- out: .
doctype html
html(lang="en")
  head  
    meta(charset="utf-8")
    title Whiteboards.io
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Cabin')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Raleway')
    link(rel='stylesheet', href="/css/site.min.css")
    
  body  
    main
      h1.title whiteboards.
        span io
      .buttons
        a(href='/projects')
          button.btn Projects
        button.btn About us
    script(src='//localhost:35729/livereload.js')
    
